
.dashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;

    .form-container{
        margin: 10px;
        display: flex;
        flex-direction: row-reverse;

        &__input {
            padding: 10px 5px;
        }

        &__mat-form-field {
            width: 100%;
        }

        &__buttons {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;
        }
    }

    .ships-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-shrink: 6;
        flex-basis: fit-content;

        &__card{
            width: 30%;
            padding: 0.5rem;
            margin: 10px;
            display: flex;
            
            align-items: center;
            border: gray 1px solid;
            text-align: center;
            flex-direction: column;
            justify-content: space-evenly;;
        }

        &__title-id{
            cursor: help;
        }

        &__image {
            max-width: 70%;
            max-height: 70%;
        }
    }

}

.card{
    padding: 0.5rem;
    margin: 10px;
    display: flex;
    flex: 25%;
    align-items: center;
    border: gray 1px solid;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
}