
.card-chart {
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 100%;
  justify-content: flex-start;

  &__chart{
    flex: 2;
    padding: 5px 5px;
  }

  &__buttons {
    flex: 0;
    padding: 5px 5px;
  }

}